@font-face {
   font-family: 'ArbFONTS-ArbFONTS-Janna-LT-Regular';
   font-display: swap;
   src: url('file:///C:/bufer/Project/my%20Project/FinalLevel-project/wasltak.com.sa-main/fonts/ArbFONTS-ArbFONTS-Janna-LT-Regular/font.ttf');
}
